.navbar-brand {
    float: none;
    font-size: 28px;
}

/*.ui-menu {
    list-style-type: none;
}

.ui-menu-item {
    padding: 5px 0;
}

.ui-helper-hidden-accessible {
    visibility: hidden;
}

.ui-autocomplete {
    background-color:rgba(54, 25, 25, .5);
    width: 100% !important;
}*/


.outer-border {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	margin: 20px 0;
	background-color: #f1f1f1;
    padding: 0.01em 16px;
}



.w3-code {
	margin: 20px 0;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #337ab7;
    word-wrap: break-word;
    font-size: 16px;
}


.btn-danger {
	margin-right: 2%;
	
}
